body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 100px;
    box-sizing: border-box;
    background-color: #f2f2f7;
    font-family: 'Exo 2', sans-serif;
}
hr {
    width: 890px;
    background-color: #ef6c00;
    height: 1px;
    margin: 0 auto !important;
}
.about-us-title {
    font-size: 40px;
    font-weight: 700;
    color: #232323;
    text-align: center;
}
.text {
    font-size: 14px;
    
}
/*====================================
            BREADCRUMBS
=====================================*/
.breadcrumbs {
    color: #a0a0a0;
    font-size: 16px;
    padding: 2em 0em;
}
.breadcrumbs-link {
    color: #ef6c00;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
    padding-right: 0.5em;
}
.breadcrumbs-link:hover {
    color: #a0a0a0;
}
.breadcrumbs-span {
    font-size: 16px;
    color: #a0a0a0;
    padding-left: 0.5em;
}
 /*===============================
        DELIVERY PAGE
==================================*/
.delivery-container_img {
    width: 100px;
}
.delivery-container_title {
    font-size: 20px;
    font-weight: 700;
    color: #232323;
}
.delivey-container_text {
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    text-align: center;
}
.delivery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
}
.delivery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
    margin-bottom: 3em;
}

/*===============================
        CONTACTS PAGE
==================================*/
.contacts-text {
    padding-top: 3em ;
    color: #232323;
    font-size: 16px;
    text-align: center;
}
.contacts-container {
    width: 450px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #9c9c9c;
    padding: 2em;
    margin: 2em auto;
}
.contacts-container_item {
    display: block;
    font-size: 16px;
    color: #232323;
    padding: 1em;
}
.contacts-continer_item_phone {
    color: #ef6c00;
}
.contacts-continer_item_email {
    color: #ef6c00;
}
@media (min-width: 320px) and (max-width: 500px) {
    .contacts-container {
        width: inherit;
    }
}
/*===============================
        THANKS PAGE
==================================*/
.thanks-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.thanks-img {
    width: 100px;
}
.thanks-text_title {
    font-size: 32px;
    font-weight: 700;
    color: #ef6c00;
    width: 750px;
    text-align: center;
    margin: 1em auto;
}
@media (min-width: 320px) and (max-width: 500px) {
    .thanks-container {
        max-width: 500px;
        padding: 1em;
        justify-content: flex-start;
    }
    .thanks-text_title {
        width: inherit;
        font-size: 26px;
    }
}