body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;
    box-sizing: border-box;
    background-color: #f2f2f7;
    font-family: 'Exo 2', sans-serif;
}
hr {
    width: 890px;
    background-color: #ef6c00;
    height: 1px;
    margin: 0 auto !important;
}
.header-wrapper, .footer-wrapper {
  padding: 0 50px;
}
.catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0em;
}
.catalog-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #232323;
}
/*====================================
            BREADCRUMBS
=====================================*/
.breadcrumbs {
    color: #232323;
    font-size: 16px;
    padding: 2em 0em;
}
.breadcrumbs-link {
    color: #232323;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
    padding-right: 0.5em;
}
.breadcrumbs-link:hover {
    color: #ef6c00;
}
.breadcrumbs-span {
    font-size: 16px;
    color: #a0a0a0;
    padding-left: 0.5em;
}


/*=================================
        PRODUCT CONTAINER
 =================================*/
 .product-container {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(0 0 0 / 10%);
    margin-bottom: 1em;
 }
 .product-container:hover {
    box-shadow: 0px 3px 28px 0px rgb(0 0 0 / 20%);
 }
 .product-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-top: 1em;
 }
 .product-title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    padding: 1em;
 }
 .availability-div {
    
    color: rgb(57, 143, 49);
    padding: 1em;
 }
 .not-in-stock {
    color: #dd1313;
 }
 .availability {
    font-size: 16px;
    font-weight: 400;
    color: #232323;
 }
 .price-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding-left: 1em;
}
.price_actual {
    font-size: 26px;
    font-weight: 500;
    color: #ef6c00;
}
.price_irrelevant {
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
    color: #a0a0a0;
}
.product-btn{
    border: none;
    border-radius: 10px;
    padding: 12px 27px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #ef6c00;
    margin: 1em auto;
    transition: 0.5s;
    cursor: pointer;

}
.pruduct-button-wrapper {
    width: 300px;
    display: flex;
    justify-content: center;
}

.product-btn:hover {
    box-shadow: 0px 0px 10px #ef6c00;
    background-color: #ffffff;
    color: #ef6c00;
}


@media (min-width: 320px) and (max-width: 500px) {
    body {
        padding: 0 1em;
    }
    .product-container {
        align-items: flex-start;
    }
    .price-container {
        padding-left: 1em !important;
    }
}