.header {
    font-family: 'Exo 2', sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    font-size: 32px;
    font-weight: bold;
    color: #232323;
}
.logo-link {
    text-decoration: none;
    color: #232323;
}
.header_nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #232323;
}
.header_nav-link:hover {
    color: #ef6c00;
}
._promotion {
    color: #ef6c00;
}
.header_nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.header_btn-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search-btn {
    width: 20px;
    cursor: pointer;
}
.header_call-btn {
    border: 2px solid #ef6c00;
    border-radius: 10px;
    padding: 8px 27px;
    font-size: 16px;
    font-weight: bold;
    color: #ef6c00;
    background-color: #f2f2f7;
    cursor: pointer;
    transition: 0.5s;
}
.header_call-btn:hover {
    background-color: #ef6c00;
    color: #ffffff;
}
.header-mobile {
    display: none;
}

/*===================================
        BURGER MENU
=====================================*/





@keyframes animateappear {
    from {right:-500px; opacity:0}
    to {right: 0; opacity:1}
}




/*===================================
    MEDIA QUERIES FOR SMARTPHONES
=====================================*/
@media (min-width: 320px) and (max-width: 500px) {
    .header {
        display: none;
    }
    .header-mobile {
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        padding-top: 1em;

    }
    .header_logo-mobile {
        font-size: 20px;
        font-weight: bold;
    }
    .burger-open-button {
        background: none;
        border: none;
    }
    #burger_btn {
        width: 30px;
    }
    .burger-menu {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.5); 
        z-index: 1; 
        overflow: auto; 
    }
    .burger-menu-nav {
        padding: 1em;
        width: 220px;
        height: 290px;
        border-radius: 16px;
        background-color: #ef6c00;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999;
        position: absolute;
        top: 0;
        right: 0;
         -webkit-animation-name: animateappear;
        -webkit-animation-duration: 0.3s;
        transition: animatezoom 0.6s;
    }
    .burger-close-btn>img {
        width: 30px;
    }
    .burger-close-btn {
        background: none;
        border: none;
    }
    .burger-nav-list {
        list-style-type: none;
        text-align: right;
    }
    .burger-nav-list>li {
        padding-top: 1em;
    }
    .burger-nav-link {
        text-decoration: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
    }
}
