/*===================================
            POPUP WINDOW (ДЛЯ КНОПОК ЗАКАЗАТЬ, ОФОРМИТЬ ЗАКАЗ, ЗАКАЗАТЬ СО СКИДКОЙ)
=====================================*/

.popup-window {
    position: fixed;
    padding-top: 2em;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    display: none;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
    overflow: auto; 
}

@keyframes animatezoom {
        from {transform: scale(0)}
        to {transform: scale(1)}
}
.popup-window_wrapper {
    position: absolute;
    margin: auto;
    width: 350px;
    height: 550px;
    border-radius: 16px;
    border: 3px solid #ef6c00;
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    -webkit-animation-name: animatezoom;
    -webkit-animation-duration: 0.6s;
    transition: animatezoom 0.6s;
}
.popup-item_image {
    width: 150px;
    display: block;
}
.popup-window_title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.dropdown-list {
    width: 270px;
    height: 30px;
    border: 3px solid #ef6c00;
    border-radius: 10px;
    padding: 0;
}
.popup-window_dropdown {
    font-size: 14px;
}
.dropdown-list {
    width: 276px;
    height: 30px;
}
.popup-form>input {
    width: 270px;
    height: 25px;
    border: 3px solid #ef6c00;
    border-radius: 10px;
    padding: 0;
}
.checkbox {
    text-align: center;
    font-size: 12px;
}
.preview-input::-webkit-input-placeholder{ 
    color: #a0a0a0; 
}
.preview-input::-moz-placeholder {
    color: #a0a0a0;
}
.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.popup-form>span {
    font-size: 14px;
    font-weight: 500;
    color: #232323;
    padding-top: 1em;
    display: block;
}
.popup-submit-btn {
    padding: 12px 81px;
    background-color: #ef6c00;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 5px 5px #b6b6b6;
}
.popup-submit-btn:hover {
    box-shadow: 0px 0px 10px #ef6c00;
    background-color: #ffffff;
    color: #ef6c00;
}
.popup-close-btn {
    padding: 11px 110px;
    background-color: #ffffff;
    color: #ef6c00;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #ef6c00 !important;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2em;
}




/*=========================================
     POPUP WINDOW (ДЛЯ КНОПКИ ЗАКАЗАТЬ ЗВОНОК)
=============================================*/
.popup-window-2 {
    position: fixed;
    
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    display: none;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5); 
    z-index: 1; 
    overflow: auto; 
}
    
.popup-window-2_wrapper {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 350px;
    height: 300px;
    border-radius: 16px;
    border: 3px solid #ef6c00;
    padding: 1em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: animatezoom 0.6s;
    position: relative;
    -webkit-animation-name: animatezoom;
    -webkit-animation-duration: 0.6s;
}
.popup-form-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.popup-window-2_title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.popup-form-2>input {
    width: 270px;
    height: 25px;
    border: 3px solid #ef6c00;
    border-radius: 10px;
    padding: 0;
}
.popup-2-submit-btn {
    padding: 12px 100px;
    background-color: #ef6c00;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0px 5px 5px #b6b6b6;
}
.popup-2-submit-btn:hover {
    box-shadow: 0px 0px 10px #ef6c00;
    background-color: #ffffff;
    color: #ef6c00;
}
.popup-2-close-btn {
    padding: 11px 110px;
    background-color: #ffffff;
    color: #ef6c00;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #ef6c00;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2em;
}


/*=================================
      MEDIA QUARIES POPUPS
====================================*/
@media (min-width: 320px) and (max-width: 500px) {
    .popup-window_wrapper {
        max-width: 360px;
        height: 470px;
        margin: auto;
    }
    .popup-window_title {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    .popup-close-btn {
        margin-top:0;
    }
}

